--extra-index-url https://download.pytorch.org/whl/cu124
torch
qdrant_client==1.12.1
sqlalchemy==2.0.25
groq==0.13.1
keyring==23.13.1
langcodes==3.5.0
librosa==0.10.0
numpy==1.26.4
sounddevice==0.5.0
denoiser==0.1.5
faster_whisper==1.1.0
scipy==1.11.4
speechbrain==1.0.2
transformers==4.49.0
huggingface_hub==0.28.1
mamba-ssm==2.2.4
inflect==7.5.0
kanjize==1.6.0
phonemizer==3.3.0
sudachipy==0.6.10
sudachidict_full==20250129
safetensors==0.4.5
silero-vad==5.1.2
elevenlabs==1.50.3
cryptography==42.0.2
pydub==0.25.1
openai==1.59.4
TTS
aiosqlite